body {
  background: #0d192c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 152px 0;
}

div.documents {
  /*  margin: auto; */
  width: 350px;
  height: 596px;
  background-color: #15263f;
  padding: 24px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
  border-radius: 15px;
  font-family: "outfit";
}

h1 {
  color: white;
  font-size: 22px;
  font-weight: 600;
}
h1:hover {
  color: cyan;
  cursor: pointer;
}

p {
  color: #8bacd9;
  font-size: 20px;
  font-weight: 300;
  line-height: 26px;
}

/* eth and days sizes */
div.details {
  font-size: 16px;
  font-weight: 400;
  padding-top: 24px;
}
/* Clock in the right place */
img.details {
  vertical-align: -3px;
}
/* 0.041 eth and 3 days left right colors */
span.eth {
  color: #00fff8;
}
span.days {
  color: #8bacd9;
  float: right;
}
/* just the line */
.line-1 {
  height: 1px;
  background: #2e405a;
  margin: 16px 4px;
}

img.details {
  padding-right: 6.49px;
}
/* Creation of and an avatar */
h2 {
  color: #8bacd9;
  font-weight: 400;
  font-size: 16px;
}
h2 img {
  width: 33px;
  border: 1px solid white;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 16px;
}
/* Jules Wyvern */
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: cyan;
  cursor: pointer;
}
/* main photo */
/* class = "equilibrium" - main photo
   class = "icon" - eye image
   div class = "eye" -eye container 
   div class = "container" - 2 photos and one e=container.*/

.equilibrium {
  max-width: 100%;
  border-radius: 10px;
}

.eye {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .3s ease;
  background-color: cyan;
  border-radius:10px;
  max-height:99%;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  max-width: 100%;
}


.container:hover .eye {
  cursor:pointer;
  opacity: 0.5;
}


